@import "flexbox";

body {
    font-family: sans-serif;
  }
  #app {
    width: 100%;
  }
  table {
    border-collapse: collapse;
    width: 100%;
  }
  
  table, td, th {
    border: 1px solid #e5e5e5;
    text-align: left;
  }
  
  .w-10 {
    width: 10%;
  }
  
  .w-30 {
    width: 30%;
  }
  
  tr {
    height: 36px;
  }
  button {
    background-color: transparent;
    border: none;
  }


form {
    @include flexbox;
    .w-30{
        width: calc(100% / 3 - 5px);
    }
    // textarea{
    //     height: 36px;
    // }
}
.wrap-btn{
    @include flexbox;
    @include justify-content(space-around);
    @include align-items(center); 
}
.wrap-actions-btn {
    @include flexbox;
    @include justify-content(space-around);
    @include align-items(center);
    width: 30%;
}
button{
    border-radius: 5px;
    color: rgba(0, 0, 0, 0.87);
    padding: 5px 15px;
    background-color: #e0e0e0;
    &.default{
        background-color: #e0e0e0;
    }
    &.main{
        color: #fff;
        background-color: #1976d2;;
    }
    &.error{
      color: #fff;
      background-color: rgb(220, 0, 78);
    }
}

.upload-area-wrapper{
  @include flex-direction(column);
  margin: 16px;
  .wrap-btn{
    @include justify-content(flex-start);
    button{
      margin: 16px;
    }
  }
}

.upload-file-wrapper{
  margin: 16px;
}